@use "../variables";
@use "../mixins";

.alert-container {
  @include mixins.positionCustom(absolute, 1%, 1%);
  z-index: -10;
  @include mixins.flex-center;
  margin: variables.$spacing-md;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity variables.$transition-time-slow ease,
    transform variables.$transition-time-slow ease,
    z-index variables.$transition-time-slow ease;

  &.show {
    z-index: 990;
    opacity: 1;
    transform: translateY(0);
  }
}

.alert {
  color: variables.$black-color;
  padding: variables.$spacing-md variables.$spacing-xl variables.$spacing-md
    variables.$spacing-md;
  font-size: 1rem;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$black-color;
  box-shadow: variables.$box-shadow-size rgba(variables.$black-color, 0.2);
  @include mixins.flex-center;
  position: relative;

  .closeButton {
    background-color: transparent;
    color: variables.$black-color;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    @include mixins.positionCustom(absolute, 0, 0);
    transition-duration: variables.$transition-time-fast;
  }

  &.success {
    background-color: variables.$alert-success-color;
  }
  &.warning {
    background-color: variables.$alert-warning-color;
  }
  &.error {
    background-color: variables.$alert-error-color;
  }
}
