@use "../variables";
@use "../mixins";

.carousel {
  .carousel-wrapper {
    .movie {
      margin: 0 variables.$spacing-sm;
      .movie-link {
        img {
          width: 100%;
        }
        h4 {
          padding-top: variables.$spacing-sm;
          text-align: center;
        }
      }
    }
  }
}
