@use "../variables";
@use "../mixins";

header {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    padding: variables.$spacing-md;

    .wishlist {
      @include mixins.flex-center;
      font-size: 1.2rem;
      gap: variables.$spacing-xs;
      .icon {
        color: variables.$accent-color;
      }
    }
  }

  h1 {
    width: fit-content;
    margin: 0 auto;
  }
}
