@use "../variables";

.detail-page {
  h2 {
    margin-bottom: variables.$spacing_sm;
  }
  h4 {
    margin-bottom: variables.$spacing_md;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing_lg;
    align-items: stretch;

    .image-vote {
      position: relative;

      img {
        width: 100%;
        display: block;
      }
      .vote-average {
        position: absolute;
        display: flex;
        width: 50%;
        left: 0;
        bottom: 0;
        z-index: 1;
        padding: 10px;
        border-radius: 0 8px 0 0;

        &.back {
          color: #ffffffe0;
          background-color: #00000050;
        }
        &.front {
          color: #ffd700;
        }
      }
    }

    .copy-cta {
      display: flex;
      flex-direction: column;
      gap: variables.$spacing_lg;

      .cta {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}
