@use "./variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin positionCustom(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin responsive($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin no-hyperlink-style() {
  color: variables.$text-color;
  text-decoration: none;
}
