// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$accent-color: #ff5722;
$background-color: #f8f9fa;
$text-color: #333;
$white-color: #ffffff;

// Typo
$font-family: "Roboto", sans-serif;
$font-size-base: 1rem;

//Spacing
$spacing_sm: 8px;
$spacing_md: 16px;
$spacing_lg: 32px;
$spacing_xl: 64px;

// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
