@use "./mixins";
@use "./variables";

@use "./components/header";
@use "./components/carousel";
@use "./components/loading";

@use "./pages/detailPage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  font-size: 100%;
}

body {
  color: variables.$text-color;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: variables.$background-color;
  font-size: variables.$font-size-base;
  font-family: variables.$font-family;
  margin: 0 variables.$spacing-md;
}

section {
  margin: variables.$spacing_xl 0;
  @include mixins.responsive(variables.$breakpoint-sm) {
    max-width: 1064px;
    margin: variables.$spacing-xl auto;
  }
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: variables.$spacing-md;
}

a {
  @include mixins.no-hyperlink-style;
}

.cta {
  padding: 10px 20px;
  background-color: variables.$accent-color;
  color: variables.$white-color;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition-duration: variables.$transition-duration-fast;
}
