@use "./mixins";
@use "./variables";

@use "./components/header";
@use "./components/carousel";

@use "./pages/detailPage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: variables.$font-family;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  font-size: 100%;
}

body {
  color: variables.$text-color;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: variables.$background-color;
  font-size: variables.$font-size-base;
}

section {
  margin: variables.$spacing_xl variables.$spacing_md;
  @include mixins.responsive(variables.$breakpoint-sm) {
    max-width: 1064px;
    margin: variables.$spacing_xl auto;
  }
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: variables.$spacing_md;
}

a {
  @include mixins.no-hyperlink-style;
}

.cta {
  padding: 10px 20px;
  background-color: variables.$accent-color;
  color: variables.$white-color;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
